<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.ensemble.om.table.reconConfigChainMapper">
  <resultMap id="BaseResultMap" type="com.dcits.ensemble.om.table.reconConfigChain">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CHAIN_ID" jdbcType="BIGINT" property="chainId" />
    <result column="CHAIN_NAME" jdbcType="VARCHAR" property="chainName" />
    <result column="SYSTEM_ID" jdbcType="VARCHAR" property="systemId" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="TRAN_CODE" jdbcType="VARCHAR" property="tranCode" />
    <result column="SUB_TRAN_CODE" jdbcType="VARCHAR" property="subTranCode" />
    <result column="WIDTH" jdbcType="VARCHAR" property="width" />
    <result column="HEIGHT" jdbcType="VARCHAR" property="height" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="IS_DELETED" jdbcType="TINYINT" property="isDeleted" />
    <result column="STATUS_CODE" jdbcType="TINYINT" property="statusCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dcits.ensemble.om.table.reconConfigChain">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="EXTEND_INFO" jdbcType="LONGVARCHAR" property="extendInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, CHAIN_ID, CHAIN_NAME, SYSTEM_ID, PRODUCT_ID, TRAN_CODE, SUB_TRAN_CODE, WIDTH, 
    HEIGHT, CREATED_DATE, LAST_UPDATE_DATE, IS_DELETED, STATUS_CODE
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    EXTEND_INFO
  </sql>
</mapper>